.new-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  gap: 10px;
}

.new-todo-input {
  width: 200px;
  height: 30px;
  border: none;
  border-bottom: 1px solid #111;
  color: #888;
}

.new-todo-input:focus {
  outline: none;
}