.todo-container {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 0;
}

.btn-container {
  display: flex;
  padding-left: 40px;
  gap: 4px;
}
